CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
target-*.json
dist/
build/
*.cmake
CMakeFiles/*
*.cpp.o
modules/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/Makefile2
CMakeFiles/Makefile2
cmake_install.cmake
Makefile
